In [1]:
import geopandas as gpd
import pandas as pd
import os
import requests
gdf = gpd.read_file(r"C:\Users\skeda\OneDrive\Desktop\CEGIS\Project 6\Final Shapefiles\Karnataka\Taluk\Taluk.shp")

In [3]:
gdf2 = gpd.read_file(r"C:\Users\skeda\OneDrive\Desktop\CEGIS\Project 6\Final Shapefiles\Karnataka\District\District.shp")

,KGISDistri,LGD_Distri,KGISDist_1,BhuCodeDis,created_us,created_da,last_edite,last_edi_1,SHAPE_STAr,SHAPE_STLe,geometry
0,01,527,Belagavi,01,None,None,SURESHBV1,2022-11-24,1.339772e+10,1.141488e+06,"MULTIPOLYGON (((537523.310 1865366.861, 537555..."
1,02,524,Bagalkot,02,None,None,SURESHBV1,2022-09-08,6.561826e+09,6.682456e+05,"POLYGON ((581917.898 1811433.959, 581946.875 1..."
2,03,530,Vijayapura,03,None,None,SURESHBV1,2022-11-24,1.050271e+10,7.032618e+05,"POLYGON ((537523.310 1865366.861, 537516.168 1..."
3,04,538,Kalburgi,04,None,None,SURESHBV1,2022-11-09,1.097395e+10,9.181459e+05,"MULTIPOLYGON (((680992.661 1951255.947, 681227..."
4,05,529,Bidar,05,None,None,SURESHBV1,2022-11-16,5.454415e+09,5.733925e+05,"MULTIPOLYGON (((766506.612 1970249.909, 766481..."
5,06,546,Raichur,06,None,None,SURESHBV,2022-03-11,8.469932e+09,5.508020e+05,"POLYGON ((652678.981 1748814.393, 652680.113 1..."
6,07,543,Koppal,07,None,None,SURESHBV,2022-03-11,5.576044e+09,5.478604e+05,"POLYGON ((648375.238 1758666.998, 648439.220 1..."
7,08,537,Gadag,08,None,None,SURESHBV,2022-06-13,4.655616e+09,5.693797e+05,"POLYGON ((532487.262 1747454.667, 532481.905 1..."
8,09,536,Dharwad,09,None,None,SURESHBV1,2022-07-29,4.255323e+09,4.776852e+05,"POLYGON ((503616.861 1732424.213, 503624.558 1..."
9,10,550,Uttara Kannada,10,None,None,SURESHBV1,2022-08-19,1.029705e+10,8.011242e+05,"MULTIPOLYGON (((423981.748 1614104.551, 424036..."
10,11,540,Haveri,11,SURESHBV1,2022-07-07,SURESHBV1,2022-07-19,4.817753e+09,4.831313e+05,"POLYGON ((536223.163 1674256.666, 536192.192 1..."
11,12,528,Ballari,12,SA,2021-12-29,SURESHBV,2022-03-11,4.226167e+09,5.789534e+05,"MULTIPOLYGON (((656073.993 1683040.302, 656202..."
12,13,533,Chitradurga,13,None,None,SURESHBV1,2022-09-02,8.434720e+09,6.862805e+05,"POLYGON ((646983.369 1501995.451, 646982.460 1..."
13,14,535,Davanagere,14,None,None,SURESHBV,2022-06-30,4.479673e+09,5.432478e+05,"POLYGON ((596845.542 1527031.008, 596642.995 1..."
14,15,547,Shivamogga,15,None,None,SURESHBV,2022-06-27,8.473196e+09,7.770441e+05,"POLYGON ((566868.548 1556312.473, 566948.563 1..."
15,16,549,Udupi,16,None,None,SURESHBV1,2022-11-24,3.570715e+09,3.943348e+05,"MULTIPOLYGON (((477333.928 1447852.676, 477313..."
16,17,532,Chikkamagaluru,17,None,None,SURESHBV1,2022-12-02,7.209477e+09,6.098013e+05,"POLYGON ((559955.662 1429224.661, 559955.485 1..."
17,18,548,Tumakuru,18,None,None,SURESHBV1,2022-09-02,1.060325e+10,1.102982e+06,"MULTIPOLYGON (((646539.851 1501753.714, 646901..."
18,19,542,Kolara,19,None,None,SURESHBV,2022-03-24,3.989933e+09,5.179295e+05,"POLYGON ((852509.477 1417326.496, 852469.152 1..."
19,20,525,Bengaluru (Urban),20,None,None,SURESHBV1,2022-11-05,2.195466e+09,3.447844e+05,"MULTIPOLYGON (((777908.814 1407035.370, 777908..."
20,21,526,Bengaluru (Rural),21,None,None,SURESHBV,2022-02-21,2.300531e+09,5.181853e+05,"POLYGON ((738511.499 1467547.216, 738513.902 1..."
21,22,544,Mandya,22,None,None,SURESHBV1,2022-11-23,4.955297e+09,5.724700e+05,"MULTIPOLYGON (((682886.284 1367764.803, 682884..."
22,23,539,Hassan,23,None,None,SURESHBV1,2022-11-30,6.818350e+09,6.717813e+05,"POLYGON ((564915.029 1431746.750, 565000.000 1..."
23,24,534,Dakshina Kannada,24,None,None,SURESHBV1,2022-12-02,4.845213e+09,4.988425e+05,"POLYGON ((559955.662 1429224.661, 559958.220 1..."
24,25,541,Kodagu,25,None,None,SURESHBV1,2022-08-26,4.113447e+09,4.965004e+05,"POLYGON ((598945.479 1370273.225, 598947.867 1..."
25,26,545,Mysuru,26,None,None,SURESHBV1,2022-11-23,6.310790e+09,7.052473e+05,"POLYGON ((684946.585 1365993.509, 684946.949 1..."
26,27,531,Chamarajanagara,27,None,None,SURESHBV,2022-06-29,5.639415e+09,6.011317e+05,"POLYGON ((735664.624 1361435.126, 735652.191 1..."
27,28,630,Chikkaballapura,29,None,None,SURESHBV,2022-02-25,4.251058e+09,5.151658e+05,"POLYGON ((845743.031 1500025.022, 845743.580 1..."
28,29,631,Ramanagara,28,None,None,SURESHBV1,2022-11-05,3.528052e+09,4.896210e+05,"MULTIPOLYGON (((781985.374 1399842.251, 781995..."
29,30,635,Yadgir,30,None,None,SURESHBV1,2022-10-03,5.276439e+09,5.562844e+05,"POLYGON ((704501.273 1865868.488, 704486.396 1..."
30,31,738,Vijayanagara,31,None,None,SURESHBV,2022-03-11,5.667647e+09,6.394924e+05,"POLYGON ((656073.993 1683040.302, 656041.771 1..."

In [4]:
gdf

,KGISTalukC,LGD_TalukC,KGISTalukN,KGISDistri,created_us,created_da,last_edite,last_edi_1,SHAPE_STAr,SHAPE_STLe,geometry
0,0101,5433,Chikkodi,01,SA,2021-08-21,SURESHBV,2022-05-30,8.431570e+08,227290.811742,"POLYGON ((461944.526 1803587.439, 461941.512 1..."
1,0102,5434,Athani,01,SA,2021-08-21,SURESHBV1,2022-11-24,1.558088e+09,246654.776443,"POLYGON ((537523.310 1865366.861, 537555.695 1..."
2,0103,5435,Raibag,01,SA,2021-08-21,SURESHBV,2022-05-26,9.524996e+08,177729.924615,"MULTIPOLYGON (((468419.927 1812694.054, 468532..."
3,0104,5436,Gokak,01,SA,2021-08-21,SURESHBV1,2022-07-15,9.832083e+08,241408.860567,"POLYGON ((465331.237 1763506.052, 465330.050 1..."
4,0105,5437,Hukkeri,01,SA,2021-08-21,SURESHBV,2022-05-30,9.838254e+08,287328.718032,"POLYGON ((428776.733 1803024.344, 428821.180 1..."
...,...,...,...,...,...,...,...,...,...,...,...
231,3102,5502,Kudligi,31,SA,2021-08-21,SA,2022-01-17,1.140647e+09,227422.472343,"POLYGON ((680478.110 1646590.894, 682670.848 1..."
232,3103,5497,Hagaribommanahalli,31,SA,2021-08-21,SA,2022-01-17,8.743581e+08,168649.012564,"POLYGON ((609171.031 1668633.250, 609257.979 1..."
233,3104,5510,Harapanahalli,31,SA,2021-08-21,SURESHBV,2022-02-22,1.436109e+09,237095.928761,"POLYGON ((627033.513 1632961.725, 627033.718 1..."
234,3105,7108,Kotturu,31,SA,2021-08-21,SURESHBV,2022-02-22,5.506125e+08,167924.797019,"POLYGON ((627006.342 1633044.064, 626988.976 1..."
235,3106,5496,Hadagali,31,SA,2021-08-21,SA,2022-01-17,9.448717e+08,242619.150798,"POLYGON ((606923.438 1674717.464, 606924.556 1..."

In [5]:
gdf2 = gdf2[["KGISDistri", "KGISDist_1"]]
gdf2

   KGISDistri         KGISDist_1
0          01           Belagavi
1          02           Bagalkot
2          03         Vijayapura
3          04           Kalburgi
4          05              Bidar
5          06            Raichur
6          07             Koppal
7          08              Gadag
8          09            Dharwad
9          10     Uttara Kannada
10         11             Haveri
11         12            Ballari
12         13        Chitradurga
13         14         Davanagere
14         15         Shivamogga
15         16              Udupi
16         17     Chikkamagaluru
17         18           Tumakuru
18         19             Kolara
19         20  Bengaluru (Urban)
20         21  Bengaluru (Rural)
21         22             Mandya
22         23             Hassan
23         24   Dakshina Kannada
24         25             Kodagu
25         26             Mysuru
26         27    Chamarajanagara
27         28    Chikkaballapura
28         29         Ramanagara
29         30             Yadgir
30         31       Vijayanagara

In [16]:
gdf2.columns=['d_id', 'd_name']
for i in range(len(gdf2)):
    gdf2.iloc[i,0] = int(gdf2.iloc[i,0])
gdf2

C:\Users\skeda\AppData\Local\Temp\ipykernel_21416\3813987190.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf2.iloc[i,0] = int(gdf2.iloc[i,0])

   d_id             d_name
0     1           Belagavi
1     2           Bagalkot
2     3         Vijayapura
3     4           Kalburgi
4     5              Bidar
5     6            Raichur
6     7             Koppal
7     8              Gadag
8     9            Dharwad
9    10     Uttara Kannada
10   11             Haveri
11   12            Ballari
12   13        Chitradurga
13   14         Davanagere
14   15         Shivamogga
15   16              Udupi
16   17     Chikkamagaluru
17   18           Tumakuru
18   19             Kolara
19   20  Bengaluru (Urban)
20   21  Bengaluru (Rural)
21   22             Mandya
22   23             Hassan
23   24   Dakshina Kannada
24   25             Kodagu
25   26             Mysuru
26   27    Chamarajanagara
27   28    Chikkaballapura
28   29         Ramanagara
29   30             Yadgir
30   31       Vijayanagara

In [18]:
gdf1 = gdf[["KGISTalukN", "KGISDistri", "geometry"]]
gdf1

,KGISTalukN,KGISDistri,geometry
0,Chikkodi,01,"POLYGON ((461944.526 1803587.439, 461941.512 1..."
1,Athani,01,"POLYGON ((537523.310 1865366.861, 537555.695 1..."
2,Raibag,01,"MULTIPOLYGON (((468419.927 1812694.054, 468532..."
3,Gokak,01,"POLYGON ((465331.237 1763506.052, 465330.050 1..."
4,Hukkeri,01,"POLYGON ((428776.733 1803024.344, 428821.180 1..."
...,...,...,...
231,Kudligi,31,"POLYGON ((680478.110 1646590.894, 682670.848 1..."
232,Hagaribommanahalli,31,"POLYGON ((609171.031 1668633.250, 609257.979 1..."
233,Harapanahalli,31,"POLYGON ((627033.513 1632961.725, 627033.718 1..."
234,Kotturu,31,"POLYGON ((627006.342 1633044.064, 626988.976 1..."
235,Hadagali,31,"POLYGON ((606923.438 1674717.464, 606924.556 1..."

In [20]:
for i in range(len(gdf1)):
    gdf1.iloc[i,1] = int(gdf1.iloc[i,1])
    
gdf1

,KGISTalukN,KGISDistri,geometry
0,Chikkodi,1,"POLYGON ((461944.526 1803587.439, 461941.512 1..."
1,Athani,1,"POLYGON ((537523.310 1865366.861, 537555.695 1..."
2,Raibag,1,"MULTIPOLYGON (((468419.927 1812694.054, 468532..."
3,Gokak,1,"POLYGON ((465331.237 1763506.052, 465330.050 1..."
4,Hukkeri,1,"POLYGON ((428776.733 1803024.344, 428821.180 1..."
...,...,...,...
231,Kudligi,31,"POLYGON ((680478.110 1646590.894, 682670.848 1..."
232,Hagaribommanahalli,31,"POLYGON ((609171.031 1668633.250, 609257.979 1..."
233,Harapanahalli,31,"POLYGON ((627033.513 1632961.725, 627033.718 1..."
234,Kotturu,31,"POLYGON ((627006.342 1633044.064, 626988.976 1..."
235,Hadagali,31,"POLYGON ((606923.438 1674717.464, 606924.556 1..."

In [22]:
gdf1.columns = ['sd_name', 'd_id', 'geometry']
gdf = pd.merge(gdf1, gdf2, on='d_id')
gdf

,sd_name,d_id,geometry,d_name
0,Chikkodi,1,"POLYGON ((461944.526 1803587.439, 461941.512 1...",Belagavi
1,Athani,1,"POLYGON ((537523.310 1865366.861, 537555.695 1...",Belagavi
2,Raibag,1,"MULTIPOLYGON (((468419.927 1812694.054, 468532...",Belagavi
3,Gokak,1,"POLYGON ((465331.237 1763506.052, 465330.050 1...",Belagavi
4,Hukkeri,1,"POLYGON ((428776.733 1803024.344, 428821.180 1...",Belagavi
...,...,...,...,...
231,Kudligi,31,"POLYGON ((680478.110 1646590.894, 682670.848 1...",Vijayanagara
232,Hagaribommanahalli,31,"POLYGON ((609171.031 1668633.250, 609257.979 1...",Vijayanagara
233,Harapanahalli,31,"POLYGON ((627033.513 1632961.725, 627033.718 1...",Vijayanagara
234,Kotturu,31,"POLYGON ((627006.342 1633044.064, 626988.976 1...",Vijayanagara
235,Hadagali,31,"POLYGON ((606923.438 1674717.464, 606924.556 1...",Vijayanagara

In [23]:
col=gdf.pop('d_name')
gdf.insert(2, 'd_name', col)

In [25]:
gdf['sd_id'] = gdf.index+1

In [26]:
col = gdf.pop('sd_id')
gdf.insert(0, 'sd_id', col)

In [27]:
gdf

,sd_id,sd_name,d_id,d_name,geometry
0,1,Chikkodi,1,Belagavi,"POLYGON ((461944.526 1803587.439, 461941.512 1..."
1,2,Athani,1,Belagavi,"POLYGON ((537523.310 1865366.861, 537555.695 1..."
2,3,Raibag,1,Belagavi,"MULTIPOLYGON (((468419.927 1812694.054, 468532..."
3,4,Gokak,1,Belagavi,"POLYGON ((465331.237 1763506.052, 465330.050 1..."
4,5,Hukkeri,1,Belagavi,"POLYGON ((428776.733 1803024.344, 428821.180 1..."
...,...,...,...,...,...
231,232,Kudligi,31,Vijayanagara,"POLYGON ((680478.110 1646590.894, 682670.848 1..."
232,233,Hagaribommanahalli,31,Vijayanagara,"POLYGON ((609171.031 1668633.250, 609257.979 1..."
233,234,Harapanahalli,31,Vijayanagara,"POLYGON ((627033.513 1632961.725, 627033.718 1..."
234,235,Kotturu,31,Vijayanagara,"POLYGON ((627006.342 1633044.064, 626988.976 1..."
235,236,Hadagali,31,Vijayanagara,"POLYGON ((606923.438 1674717.464, 606924.556 1..."

In [28]:
districtNames = list(gdf['d_name'].unique())
for dist in districtNames:
    df = gdf[gdf['d_name']==dist]
    path = rf"C:\Users\skeda\OneDrive\Desktop\CEGIS\Project 6\Final Shapefiles\Karnataka\Untitled Folder\{dist}"
    if not os.path.exists(path):
        os.makedirs(path)
    df.to_file(rf"C:\Users\skeda\OneDrive\Desktop\CEGIS\Project 6\Final Shapefiles\Karnataka\Untitled Folder\{dist}\{dist}.shp")